body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.shapka {
    display: flex;
    background-color: rgb(0, 131, 253);
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

#logo {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: x-large;
    color: rgb(243, 243, 243);
    margin: 2rem;
    text-decoration: none;
    max-width: fit-content;
    white-space: nowrap;
}

.buttons {
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: medium;
    color: rgb(243, 243, 243);
    text-decoration: none;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: medium;
    color: rgb(243, 243, 243);
    margin: 2em;
    text-decoration: none;
    text-align: center;
    align-items: center;
    width: fit-content;
    white-space: nowrap;
}

.button:hover {
    transition: 200ms;
    transform: scale(1.2);
}